@import "var.scss";
@media(min-width:768px) {
    .container {
        width: 100%;
        .goodness {
            width: 100%;
            // height: 204px;
            padding-bottom: -47px;
            .goodness-c {
                position: relative;
                top: -47px;
                width: $width;
                height: 204px;
                margin: 0 auto;
                background-color: #fff;
                box-shadow: 0px 10px 20px #ccc;
                z-index: 3;
                .good {
                    width: 100%;
                    height: 100%;
                    .goodness-item {
                        float: left;
                        width: 200px;
                        text-align: center;
                        cursor: pointer;
                        a {
                            display: block;
                            margin-top: 43px;
                            width: 54px;
                            height: 45px;
                        }
                        .good-title {
                            height: 26px;
                            line-height: 26px;
                            margin-top: 14px;
                            font-size: 16px;
                            font-family: "FZLTZHK";
                            color: rgb( 80, 80, 80 );
                            font-weight: bolder;
                        }
                        .good-dec {
                            font-size: 14px;
                            font-family: "FZLTXHK";
                            color: rgb( 107, 107, 107 );
                            height: 24px;
                            line-height: 24px;
                        }
                    }
                    .goodness-item_1 {
                        background: url(../img/icon_1.png) no-repeat center;
                    }
                    .goodness-item_2 {
                        background: url(../img/icon-2.png) no-repeat center;
                    }
                    .goodness-item_3 {
                        background: url(../img/icon-3.png) no-repeat center;
                    }
                    .goodness-item_4 {
                        background: url(../img/icon-4.png) no-repeat center;
                    }
                    .goodness-item_5 {
                        background: url(../img/icon-5.png) no-repeat center;
                    }
                    .goodness-item_6 {
                        background: url(../img/icon-6.png) no-repeat center;
                    }
                    .goodness-item_1:hover {
                        background: url(../img/icon_1.png) no-repeat center;
                    }
                    .goodness-item_2:hover {
                        background: url(../img/icon_2.png) no-repeat center;
                    }
                    .goodness-item_3:hover {
                        background: url(../img/icon_3.png) no-repeat center;
                    }
                    .goodness-item_4:hover {
                        background: url(../img/icon_4.png) no-repeat center;
                    }
                    .goodness-item_5:hover {
                        background: url(../img/icon_5.png) no-repeat center;
                    }
                    .goodness-item_6:hover {
                        background: url(../img/icon_6.png) no-repeat center;
                    }
                }
            }
        }
        .mobile {
            width: 100%;
            .mobile-c {
                width: $width;
                height: 772px;
                margin: 0 auto;
                // background-color: red;
                .mobile-el {
                    float: left;
                }
                .mobile-l {
                    width: 507px;
                    height: 100%;
                    margin-left: 33px;
                    .mobile-title {
                        margin-top: 247px;
                        font-size: 30px;
                        font-family: "FZLTZHK";
                        color: rgb( 36, 36, 36 );
                        text-align: justifyLeft;
                    }
                    .mobile-detail {
                        margin-top: 29px;
                        font-size: 14px;
                        font-family: "FZLTXHK";
                        color: rgb( 96, 91, 91 );
                        text-transform: uppercase;
                    }
                    .excel-title {
                        margin-top: 40px;
                        font-size: 16px;
                        font-family: "FZLTZHK";
                        color: rgb( 54, 54, 54 );
                        font-weight: bolder;
                    }
                    .excel {
                        margin-top: 19px;
                        width: 328px;
                        height: 102px;
                        border: 1px solid #d1d1d1;
                        .excel-el {
                            float: left;
                        }
                        .excel-l {
                            margin-top: -1px;
                            width: 163px;
                            height: 100%;
                            .excel-item {
                                border-right: 1px solid #d1d1d1;
                            }
                            .excel-item:last-child{
                                border-bottom: none;
                            }
                        }
                        .excel-r {
                            margin-top: -1px;
                            width: 165px;
                            height: 100%;
                            .excel-item:last-child {
                                border-bottom: none;
                            }
                        }
                        .excel-item {
                            width: 100%;
                            height: 34px;
                            line-height: 34px;
                            text-align: center;
                            font-size: 14px;
                            font-family: "FZLTXHK";
                            color: rgb( 96, 91, 91 );  
                            border-bottom: 1px solid #d1d1d1;
                        }
                    }
                }
                .mobile-r {
                    position: relative;
                    margin-left: 50px;
                    width: 605px;
                    height: 100%;
                    .pnone-map {
                        position: absolute;
                        left: 28px;
                        top: 126px;
                    }
                    .phone-word {
                        position: absolute;
                        left: 0;
                        top: 341px;
                        z-index: 4;
                    }
                    .phone {
                        position: absolute;
                        left: 170px;
                        top: 150px;
                        z-index: 5;
                    }
                    .weixin {
                        position: absolute;
                        left: 419px;
                        top: 243px;
                        z-index: 5;
                    }
                    .dot {
                        position: absolute;
                        top: 453px;
                        left: 48px;
                        border-radius: 50%;
                        background-color: rgb( 0, 206, 114 );
                        width: 5px;
                        height: 5px;
                        z-index: 287;
                    }
                    .out-dot {
                        position: absolute;
                        top: 444px;
                        left: 38px;
                        border-radius: 50%;
                        background-color: rgb( 37, 190, 3 );
                        opacity: 0.2;
                        width: 25px;
                        height: 23px;
                        z-index: 286;      
                    }
                }
            }
        }
        .web {
            width: 100%;
            height: 712px;
            background-color: $gray;
            .web-c {
                position: relative;
                width: $width;
                height: 100%;
                margin: 0 auto;
                background-color: $gray;
                .web-el {
                    float: left;
                }
                .web-l {
                    width: 618px;
                    height: 100%;
                    .web-map {
                        position: absolute;
                        top: 97px;
                        left: 56px;
                    }
                    .web-word {
                        position: absolute;
                        top: 316px;
                        left: 0;
                        z-index: 4;
                    }
                    .pc {
                        position: absolute;
                        top: 109px;
                        left: 127px;
                        z-index: 5;
                    }
                }
                .web-r {
                    width: 491px;
                    height: 100%;
                    .web-title {
                        margin-top: 195px;
                        font-size: 30px;
                        font-family: "FZLTZHK";
                        color: rgb( 36, 36, 36 );
                        text-align: justifyLeft;
                    }
                    .web-detail {
                        margin-top: 29px;
                        font-size: 14px;
                        font-family: "FZLTXHK";
                        color: rgb( 96, 91, 91 );
                        text-transform: uppercase;
                    }
                    .excel-title {
                        margin-top: 40px;
                        font-size: 16px;
                        font-family: "FZLTZHK";
                        color: rgb( 54, 54, 54 );
                        font-weight: bolder;
                    }
                    .excel {
                        margin-top: 19px;
                        width: 328px;
                        height: 102px;
                        border: 1px solid #d1d1d1;
                        .excel-el {
                            float: left;
                        }
                        .excel-l {
                            margin-top: -1px;
                            width: 163px;
                            height: 100%;
                            .excel-item {
                                border-right: 1px solid #d1d1d1;
                            }
                            .excel-item:last-child{
                                border-bottom: none;
                            }
                        }
                        .excel-r {
                            margin-top: -1px;
                            width: 165px;
                            height: 100%;
                            .excel-item:last-child {
                                border-bottom: none;
                            }
                        }
                        .excel-item {
                            width: 100%;
                            height: 34px;
                            line-height: 34px;
                            text-align: center;
                            font-size: 14px;
                            font-family: "FZLTXHK";
                            color: rgb( 96, 91, 91 );  
                            border-bottom: 1px solid #d1d1d1;
                        }
                    }
                }
            }
        }
        .success {
            width: 100%;
            height: 842px;
            .success-c {
                width: $width;
                height: 100%;
                margin: 0 auto;
                .success-header {
                    position: relative;
                    margin-top: 144px;
                    width: 100%;
                    height: 80px;
                    // background-color: red;
                    .success-title {
                        float: left;
                        width: 204px;
                        height: 100%;
                        .succ-cn {
                            font-size: 24px;
                            font-family: "FZLTZHK";
                            color: rgb( 73, 73, 73 );
                            text-align: justifyLeft;
                        }
                        .succ-en {
                            font-size: 14px;
                            font-family: "FZLTXHK";
                            color: rgb( 195, 195, 195 );
                            text-align: justifyLeft;
                        }
                    }
                    .success-nav {
                        position: absolute;
                        right: 0;
                        width: 356px;
                        height: 100%;
                        .success-nav-item {
                            float: left;
                            width: 73px;
                            height: 31px;
                            a {
                                display: block;
                                width: 100%;
                                height: 31px;
                                line-height: 31px;
                                font-size: 15px;
                                text-align: center;
                                font-family: "PingFangSC";
                                color: rgb( 133, 133, 133 );
                                text-align: justifyLeft;                                 
                            }
                        }
                        .success-nav-item.active a {
                            display: block;
                            width: 73px;
                            height: 31px;
                            background-color: #1073d8;
                            font-size: 15px;
                            font-family: "PingFangSC";
                            color: rgb( 255, 255, 255 );
                            text-align: justifyLeft;
                        } 
                        .success-nav-item:first-child {
                            margin-left: 64px;
                        }
                        .success-nav-item:hover a{
                            display: block;
                            width: 73px;
                            height: 31px;
                            background-color: #1073d8;
                            font-size: 15px;
                            font-family: "PingFangSC";
                            color: rgb( 255, 255, 255 );
                            text-align: justifyLeft;
                        }
                    }
                }
                .case {
                    position: absolute;
                    width: $width;
                    height: 612px;
                    .case-detail {
                        position: relative;
                        float: left;
                        width: 383px;
                        height: 292px;
                        margin-right: 22.5px;
                        margin-bottom: 26px;
                        text-align: center;
                        border: 1px solid #eeeeee;
                        .case-title {
                            font-size: 16px;
                            font-family: "PingFangSC";
                            color: rgb( 85, 85, 85 );
                            text-align: justifyLeft;
                            font-weight: bolder;
                        }
                        .industry {
                            font-size: 14px;
                            font-family: "PingFangSC";
                            color: rgb( 179, 179, 179 );
                            line-height: 1.714;
                            text-align: center;
                        }
                    }
                    .case-detail:nth-child(3n) {
                        width: 383px;
                        margin-right: 0;
                    }
                    .succ-btn {
                        position: absolute;
                        top: 636px;
                        left: 50%;
                        display: inline-block;
                        text-align: center;
                        cursor: pointer;
                        width: 33px;
                        height: 33px;
                        line-height: 33px;
                        font-size: 16px;
                        color: #c6c6c6;
                        font-weight: bolder;
                        margin-right: 20px;
                        border: 1px solid #f1f1f1;
                        border-radius: 50%;
                        box-shadow: 0px -1px 5px 0.5px #eee,   
                                    -1px 0px 5px 0.5px #eee,   
                                    1px 0px 5px 0.5px #eee,   
                                    0px 1px 15px 0.5px #eee;    
                    }
                    .succ-btn.active {
                        color: #fff;
                        background-color: #1073d8;
                        border: none;
                        box-shadow: 0px -1px 5px 0.5px #1073d8,   
                                    -1px 0px 5px 0.5px #1073d8,   
                                    1px 0px 5px 0.5px #1073d8,   
                                    0px 1px 15px 0.5px #1073d8;    
                    }
                    .succ-btn:hover {
                        color: #fff;
                        background-color: #1073d8;
                        border: none;
                        box-shadow: 0px -1px 5px 0.5px #1073d8,   
                                    -1px 0px 5px 0.5px #1073d8,   
                                    1px 0px 5px 0.5px #1073d8,   
                                    0px 1px 15px 0.5px #1073d8; 
                    }
                    .succ-btn-l {
                        margin-left: -60.5px;
                    }
                    .succ-btn-r {
                        margin-left: 27.5px;
                    }
                }
            }
        }
        .about-us {
            width: 100%;
            height: 506px;
            background-color: $gray;
            .about-us-c {
                position: relative;
                width: $width;
                height: 100%;
                margin: 0 auto;
                background-color: $gray;
                .about-l {
                    float: left;
                    width: 534px;
                    height: 100%;
                    .about-title {
                        margin-top: 142px;
                        font-size: 24px;
                        font-family: "FZLTZHK";
                        color: rgb( 73, 73, 73 );
                        text-align: justifyLeft;
                        .about-en {
                            font-size: 14px;
                            font-family: "PingFangSC";
                            color: rgb( 195, 195, 195 );
                            text-align: justifyLeft;    
                        }
                    }
                    .about-detail {
                        margin-top: 35px;
                        font-size: 15px;
                        font-family: "FZLTXHK";
                        color: rgb( 149, 149, 149 );
                        line-height: 1.867;
                        text-align: left;
                    }
                }
                .about-r {
                    position: absolute;
                    right: 0;
                    top: 111px;
                    width: 548px;
                    height: 100%;
                    .dec {
                        width: 509px;
                        height: 276px;
                        border: 1px solid #e2e2e2;
                    }
                    .bufan-img {
                        position: absolute;
                        left: 18px;
                        top: 19px;
                    }
                }
            }
        }
    }
}