.caption {
    width: 100%;
    background-color: #f7f8f9;
    .caption-c {
        width: 1200px;
        margin: 0 auto;
        text-align: center;
        background-color: #f7f8f9;
        .caption-cn {
            padding-top: 60px;
            font-size: 32px;
            font-family: "FZLTZHK";
            color: rgb( 24, 24, 24 );
            text-align: justifyLeft;
        }
        .caption-en {
            padding-bottom: 55px;
            font-size: 14px;
            font-family: "FZLTXHK";
            color: rgb( 195, 195, 195 );
            text-align: justifyLeft;
        }
    }
}