@media(min-width:769px){
    .contact {
        width: 100%;
        .contact-c {
            width: 1200px;
            margin: 0 auto;
            .contact-list {
                width: 100%;
                height: 100%;
                margin-bottom: 74px;
                .contact-list-item {
                    float: left;
                    width: 350px;
                    // height: 186px;
                    .contact-img {
                        display: inline-block;
                        vertical-align: middle;
                        width: 100px;
                        height: 38px;
                        line-height: 38px;
                        font-size: 24px;
                        margin-top: 58px;
                        margin-bottom: 30px;
                        font-family: "FZLTZHK";
                        color: rgb( 85, 85, 85 );
                        text-align: justifyLeft;
                        text-indent: 50px;
                    }
                    .contact-img_1 {
                        background: url(../../img/contact_icon_1.jpg) no-repeat center;
                        background-position: -0px;
                    }
                    .contact-img_2 {
                        background: url(../../img/contact_icon_2.jpg) no-repeat center;
                        background-position: -0px;
                    }
                    .contact-img_3 {
                        background: url(../../img/contact_icon_3.jpg) no-repeat center;
                        background-position: -0px;
                    }
                    .contact-des {
                        line-height: 26px;
                        font-size: 15px;
                        font-family: "FZLTXHK";
                        color: rgb( 85, 85, 85 );
                        text-align: justifyLeft;
                    }
                }
                .contact-list-item:nth-child(2) {
                    margin-left: 75px;
                    margin-right: 75px;
                }
            }
            .contact-map {
                width: 100%;
                height: 383px;
                margin-bottom: 89px;
                background-color: #e1e1e1;
                .map-word {
                    height: 100%;
                    line-height: 383px;
                    text-align: center;
                    font-size: 41.618px;
                    font-family: "FZLTXHK";
                    color: rgb( 194, 194, 194 );
                    // -moz-transform: matrix( 2.73633650979789,0,0,2.73633650979789,0,0);
                    // -webkit-transform: matrix( 2.73633650979789,0,0,2.73633650979789,0,0);
                    // -ms-transform: matrix( 2.73633650979789,0,0,2.73633650979789,0,0);
                    z-index: 999; 
                }
            }
        }
    }    
}

@media(max-width:768px){
    .contact {
        width: 100%;
        .contact-c {
            width: 90%;
            margin: 0 auto;
            .contact-list {
                width: 100%;
                .contact-list-item {
                    width: 100%;
                    .contact-img {
                        display: inline-block;
                        vertical-align: middle;
                        width: 30%;
                        height: 38px;
                        line-height: 38px;
                        font-size: 24px;
                        margin-top: 10%;
                        margin-bottom: 5%;
                        font-family: "FZLTZHK";
                        color: rgb( 85, 85, 85 );
                        text-align: justifyLeft;
                        text-indent: 50px;
                    }
                    .contact-img_1 {
                        background: url(../../img/contact_icon_1.jpg) no-repeat center;
                        background-position: -0px;
                    }
                    .contact-img_2 {
                        background: url(../../img/contact_icon_2.jpg) no-repeat center;
                        background-position: -0px;
                    }
                    .contact-img_3 {
                        background: url(../../img/contact_icon_3.jpg) no-repeat center;
                        background-position: -0px;
                    }
                    .contact-des {
                        line-height: 26px;
                        font-size: 15px;
                        font-family: "FZLTXHK";
                        color: rgb( 85, 85, 85 );
                        text-align: justifyLeft;
                    }
                }    
            }
            .contact-map {
                width: 100%;
                height: 200px;
                line-height: 200px;
                background-color: #e1e1e1;
                text-align: center;
                margin-top: 5%;
                margin-bottom: 5%;
                .map-word {
                    text-align: center;
                    font-size: 16.618px;
                    font-family: "FZLTXHK";
                    color: rgb( 194, 194, 194 );
                    z-index: 999; 
                }
            }
        }
    }
}
