@media (min-width: 769px) {
  .footer {
    width: 100%;
    height: 386px;
  }
  .footer .footer-about-us {
    width: 100%;
    height: 328px;
    background-color: #323943;
  }
  .footer .footer-about-us .footer-about-us-c {
    position: relative;
    width: 1200px;
    height: 100%;
    background-color: #323943;
    margin: 0 auto;
  }
  .footer .footer-about-us .footer-about-us-c .contact-us {
    position: absolute;
    left: 0;
    top: 64px;
  }
  .footer .footer-about-us .footer-about-us-c .contact-us span:first-child {
    font-size: 24px;
    font-family: "FZLTZHK";
    color: #f3f3f3;
    text-align: justifyLeft;
  }
  .footer .footer-about-us .footer-about-us-c .contact-us span:last-child {
    font-size: 14px;
    font-family: "PingFangSC";
    color: #c2c2c2;
    text-align: justifyLeft;
  }
  .footer .footer-about-us .footer-about-us-c .about {
    position: absolute;
    top: 162px;
    font-size: 16px;
    font-family: "FZLTXHK";
    color: #c2c2c2;
  }
  .footer .footer-about-us .footer-about-us-c .about .about-item {
    float: left;
  }
  .footer .footer-about-us .footer-about-us-c .about .about-item p {
    height: 28px;
    line-height: 28px;
  }
  .footer .footer-about-us .footer-about-us-c .about .about_1 {
    width: 160px;
  }
  .footer .footer-about-us .footer-about-us-c .about .about_2 {
    width: 271px;
    margin-left: 220px;
  }
  .footer .footer-about-us .footer-about-us-c .about .about_3 {
    margin-left: 85px;
    width: 448px;
    text-align: left;
  }
  .footer .admission {
    width: 100%;
    height: 58px;
    background-color: #272e36;
  }
  .footer .admission .admission-c {
    width: 1200px;
    height: 100%;
    background-color: #272e36;
    margin: 0 auto;
  }
  .footer .admission .admission-c .admission-dec {
    height: 100%;
    line-height: 58px;
    font-size: 14px;
    font-family: "PingFangSC";
    color: #959595;
  }
}

@media (max-width: 768px) {
  .footer {
    width: 100%;
    background-color: #323943;
  }
  .footer .footer-about-us {
    width: 100%;
    padding-bottom: 50px;
    border-bottom: 1px solid #646565;
  }
  .footer .footer-about-us .footer-about-us-c {
    width: 90%;
    margin: 0 auto;
  }
  .footer .footer-about-us .footer-about-us-c .contact-us {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .footer .footer-about-us .footer-about-us-c .contact-us span:first-child {
    display: block;
    font-size: 24px;
    font-family: "FZLTZHK";
    color: #f3f3f3;
    text-align: justifyLeft;
    padding-top: 10%;
  }
  .footer .footer-about-us .footer-about-us-c .contact-us span:last-child {
    display: block;
    font-size: 16px;
    font-family: "PingFangSC";
    color: #c2c2c2;
    text-align: justifyLeft;
  }
  .footer .footer-about-us .footer-about-us-c .about {
    width: 100%;
  }
  .footer .footer-about-us .footer-about-us-c .about .about-item {
    width: 100%;
    height: 80px;
    text-align: justifyLeft;
    font-size: 14px;
    font-family: "FZLTXHK";
    color: #fff;
  }
  .footer .footer-about-us .footer-about-us-c .about .about-item .logo-png {
    display: none;
  }
  .footer .footer-about-us .footer-about-us-c .about .about-item p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .footer .footer-about-us .footer-about-us-c .about .about-item:first-child {
    height: 30px;
    padding-top: 20px;
  }
  .footer .admission {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #272e36;
  }
  .footer .admission .admission-c {
    width: 90%;
    margin: 0 auto;
  }
  .footer .admission .admission-c .admission-dec {
    font-size: 16px;
    font-family: "PingFangSC";
    color: #959595;
    text-align: center;
  }
  .footer .admission .admission-c .admission-dec span {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=footer.css.map */