@import "var.scss";
@media(min-width:768px) {
    .header {
        width: 100%;
        .header-c {
            position: relative;
            width: $width;
            height: 80px;
            margin: 0 auto;
            // background-color: green;
        }
        .logo {
            display: block;
            float: left;
            margin-left: 1px;
            margin-top: 28px;
        }
        .line-box {
            display: none;
        }
        .nav {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            .nav-item {
                float: left;
                margin-left: 60px;
                width: 73px;
                height: 100%;
                line-height: 80px;
                text-align: center;
                a {
                    display: block;
                    width: 100%;
                    height: 53px;
                    font-size: 15px;
                    font-family: "Microsoft YaHei";
                    color: rgb( 78, 78, 78 );
                    text-align: justifyLeft;
                }  
            }
            .nav-item.active a{
                font-size: 15px;
                font-family: "Microsoft YaHei";
                color: rgb( 16, 115, 216 );
                text-align: justifyLeft;
                border-bottom: 2px solid rgb( 16, 115, 216 );
            }
            .nav-item:hover a{
                font-size: 15px;
                font-family: "Microsoft YaHei";
                color: rgb( 16, 115, 216 );
                text-align: justifyLeft;
                border-bottom: 2px solid rgb( 16, 115, 216 );
            }
            .nav-item:last-child {
                // text-align: right;
                margin-right: -6.5px;
            }
        }
    }
}
@media(max-width:768px) {
    .header {
        position: fixed;
        width: 100%;
        border-bottom: 1px solid #e5e5e5;
        background-color: #fff;
        .header-c {
            position: relative;
            width: 100%;
            margin: 0 auto;
            padding-top: 5%;
            padding-bottom: 5%;
            .logo {
                max-width: 10%;
                float: left;
                margin-left: 5%;
            }
            .line-box {
                position: absolute;
                right: 0;
                width: 25px;
                height: 25px;
                margin-right: 5%;
                .line {
                    display: block;
                    width: 100%;
                    height: 4px;
                    margin-top: 3px;
                    margin-bottom: 3px;
                    background-color: #323943;
                }
                .line:first-child {
                    margin-top: 3px;
                }
            }
            .nav {
                display: none;
                position: absolute;
                top: 100%;
                width: 100%;
                background-color: #ccc;
                border-radius: 3px;
                .nav-item {
                    text-align: center;
                    a {
                        display: block;
                        width: 100%;
                        font-size: 20px;
                        font-family: "Microsoft YaHei";
                        color: #fff;
                        width: 100%;
                        padding-top: 10%;
                        padding-bottom: 10%;
                        border-bottom: 1px solid #eee;
                        text-align: justifyLeft;
                    }
                }
            }
        }
    }
}