@media (min-width: 768px) {
  .header {
    width: 100%;
  }
  .header .header-c {
    position: relative;
    width: 1200px;
    height: 80px;
    margin: 0 auto;
  }
  .header .logo {
    display: block;
    float: left;
    margin-left: 1px;
    margin-top: 28px;
  }
  .header .line-box {
    display: none;
  }
  .header .nav {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
  }
  .header .nav .nav-item {
    float: left;
    margin-left: 60px;
    width: 73px;
    height: 100%;
    line-height: 80px;
    text-align: center;
  }
  .header .nav .nav-item a {
    display: block;
    width: 100%;
    height: 53px;
    font-size: 15px;
    font-family: "Microsoft YaHei";
    color: #4e4e4e;
    text-align: justifyLeft;
  }
  .header .nav .nav-item.active a {
    font-size: 15px;
    font-family: "Microsoft YaHei";
    color: #1073d8;
    text-align: justifyLeft;
    border-bottom: 2px solid #1073d8;
  }
  .header .nav .nav-item:hover a {
    font-size: 15px;
    font-family: "Microsoft YaHei";
    color: #1073d8;
    text-align: justifyLeft;
    border-bottom: 2px solid #1073d8;
  }
  .header .nav .nav-item:last-child {
    margin-right: -6.5px;
  }
}

@media (max-width: 768px) {
  .header {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
    z-index: 1000;
  }
  .header .header-c {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .header .header-c .logo {
    max-width: 10%;
    float: left;
    margin-left: 5%;
  }
  .header .header-c .line-box {
    position: absolute;
    right: 0;
    width: 25px;
    height: 25px;
    margin-right: 5%;
  }
  .header .header-c .line-box .line {
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #323943;
  }
  .header .header-c .line-box .line:first-child {
    margin-top: 3px;
  }
  .header .header-c .nav {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #ccc;
    border-radius: 3px;
  }
  .header .header-c .nav .nav-item {
    text-align: center;
  }
  .header .header-c .nav .nav-item a {
    display: block;
    width: 100%;
    font-size: 20px;
    font-family: "Microsoft YaHei";
    color: #fff;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    border-bottom: 1px solid #eee;
    text-align: justifyLeft;
  }
}

.swiper-wrapper {
  width: 100%;
}

.swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}

.banner {
  width: 100%;
}

.banner img {
  width: 100%;
}

@media (min-width: 769px) {
  .container {
    width: 100%;
  }
  .container .goodness {
    width: 100%;
    padding-bottom: -47px;
  }
  .container .goodness .goodness-c {
    position: relative;
    top: -47px;
    width: 1200px;
    height: 204px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 20px #ccc;
            box-shadow: 0px 10px 20px #ccc;
    z-index: 3;
  }
  .container .goodness .goodness-c .good {
    width: 100%;
    height: 100%;
    margin-top: -100px;
  }
  .container .goodness .goodness-c .good .goodness-item {
    float: left;
    width: 200px;
    text-align: center;
    cursor: pointer;
  }
  .container .goodness .goodness-c .good .goodness-item a {
    display: block;
    margin-top: 43px;
    width: 54px;
    height: 45px;
  }
  .container .goodness .goodness-c .good .goodness-item .good-title {
    height: 26px;
    line-height: 26px;
    margin-top: 14px;
    font-size: 16px;
    font-family: "FZLTZHK";
    color: #505050;
    font-weight: bolder;
  }
  .container .goodness .goodness-c .good .goodness-item .good-dec {
    font-size: 14px;
    font-family: "FZLTXHK";
    color: #6b6b6b;
    height: 24px;
    line-height: 24px;
  }
  .container .goodness .goodness-c .good .goodness-item_1 {
    background: url(../../img/icon_1.png) no-repeat center;
  }
  .container .goodness .goodness-c .good .goodness-item_2 {
    background: url(../../img/icon-2.png) no-repeat center;
  }
  .container .goodness .goodness-c .good .goodness-item_3 {
    background: url(../../img/icon-3.png) no-repeat center;
  }
  .container .goodness .goodness-c .good .goodness-item_4 {
    background: url(../../img/icon-4.png) no-repeat center;
  }
  .container .goodness .goodness-c .good .goodness-item_5 {
    background: url(../../img/icon-5.png) no-repeat center;
  }
  .container .goodness .goodness-c .good .goodness-item_6 {
    background: url(../../img/icon-6.png) no-repeat center;
  }
  .container .goodness .goodness-c .good .goodness-item_1:hover {
    background: url(../../img/icon_1.png) no-repeat center;
  }
  .container .goodness .goodness-c .good .goodness-item_2:hover {
    background: url(../../img/icon_2.png) no-repeat center;
  }
  .container .goodness .goodness-c .good .goodness-item_3:hover {
    background: url(../../img/icon_3.png) no-repeat center;
  }
  .container .goodness .goodness-c .good .goodness-item_4:hover {
    background: url(../../img/icon_4.png) no-repeat center;
  }
  .container .goodness .goodness-c .good .goodness-item_5:hover {
    background: url(../../img/icon_5.png) no-repeat center;
  }
  .container .goodness .goodness-c .good .goodness-item_6:hover {
    background: url(../../img/icon_6.png) no-repeat center;
  }
  .container .mobile {
    width: 100%;
  }
  .container .mobile .mobile-c {
    width: 1200px;
    height: 772px;
    margin: 0 auto;
  }
  .container .mobile .mobile-c .mobile-el {
    float: left;
  }
  .container .mobile .mobile-c .mobile-l {
    width: 507px;
    height: 100%;
    margin-left: 33px;
  }
  .container .mobile .mobile-c .mobile-l .mobile-title {
    margin-top: 247px;
    font-size: 30px;
    font-family: "FZLTZHK";
    color: #242424;
    text-align: justifyLeft;
  }
  .container .mobile .mobile-c .mobile-l .mobile-detail {
    margin-top: 29px;
    font-size: 14px;
    font-family: "FZLTXHK";
    color: #605b5b;
    text-transform: uppercase;
  }
  .container .mobile .mobile-c .mobile-l .excel-title {
    margin-top: 40px;
    font-size: 16px;
    font-family: "FZLTZHK";
    color: #363636;
    font-weight: bolder;
  }
  .container .mobile .mobile-c .mobile-l .excel {
    margin-top: 19px;
    width: 328px;
    height: 102px;
    border: 1px solid #d1d1d1;
  }
  .container .mobile .mobile-c .mobile-l .excel .excel-el {
    float: left;
  }
  .container .mobile .mobile-c .mobile-l .excel .excel-l {
    margin-top: -1px;
    width: 163px;
    height: 100%;
  }
  .container .mobile .mobile-c .mobile-l .excel .excel-l .excel-item {
    border-right: 1px solid #d1d1d1;
  }
  .container .mobile .mobile-c .mobile-l .excel .excel-l .excel-item:last-child {
    border-bottom: none;
  }
  .container .mobile .mobile-c .mobile-l .excel .excel-r {
    margin-top: -1px;
    width: 165px;
    height: 100%;
  }
  .container .mobile .mobile-c .mobile-l .excel .excel-r .excel-item:last-child {
    border-bottom: none;
  }
  .container .mobile .mobile-c .mobile-l .excel .excel-item {
    width: 100%;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    font-family: "FZLTXHK";
    color: #605b5b;
    border-bottom: 1px solid #d1d1d1;
  }
  .container .mobile .mobile-c .mobile-r {
    position: relative;
    margin-left: 50px;
    width: 605px;
    height: 100%;
  }
  .container .mobile .mobile-c .mobile-r .pnone-map {
    position: absolute;
    left: 28px;
    top: 126px;
  }
  .container .mobile .mobile-c .mobile-r .phone-word {
    position: absolute;
    left: 0;
    top: 341px;
    z-index: 4;
  }
  .container .mobile .mobile-c .mobile-r .phone {
    position: absolute;
    left: 170px;
    top: 150px;
    z-index: 5;
  }
  .container .mobile .mobile-c .mobile-r .weixin {
    position: absolute;
    left: 419px;
    top: 243px;
    z-index: 5;
  }
  .container .mobile .mobile-c .mobile-r .dot {
    position: absolute;
    top: 453px;
    left: 48px;
    border-radius: 50%;
    background-color: #00ce72;
    width: 5px;
    height: 5px;
    z-index: 287;
  }
  .container .mobile .mobile-c .mobile-r .out-dot {
    position: absolute;
    top: 444px;
    left: 38px;
    border-radius: 50%;
    background-color: #25be03;
    opacity: 0.2;
    width: 25px;
    height: 23px;
    z-index: 286;
  }
  .container .web {
    width: 100%;
    height: 712px;
    background-color: #f9f9f8;
  }
  .container .web .web-c {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color: #f9f9f8;
  }
  .container .web .web-c .web-el {
    float: left;
  }
  .container .web .web-c .web-l {
    width: 618px;
    height: 100%;
  }
  .container .web .web-c .web-l .web-map {
    position: absolute;
    top: 97px;
    left: 56px;
  }
  .container .web .web-c .web-l .web-word {
    position: absolute;
    top: 316px;
    left: 0;
    z-index: 4;
  }
  .container .web .web-c .web-l .pc {
    position: absolute;
    top: 109px;
    left: 127px;
    z-index: 5;
  }
  .container .web .web-c .web-r {
    width: 491px;
    height: 100%;
  }
  .container .web .web-c .web-r .web-title {
    margin-top: 195px;
    font-size: 30px;
    font-family: "FZLTZHK";
    color: #242424;
    text-align: justifyLeft;
  }
  .container .web .web-c .web-r .web-detail {
    margin-top: 29px;
    font-size: 14px;
    font-family: "FZLTXHK";
    color: #605b5b;
    text-transform: uppercase;
  }
  .container .web .web-c .web-r .excel-title {
    margin-top: 40px;
    font-size: 16px;
    font-family: "FZLTZHK";
    color: #363636;
    font-weight: bolder;
  }
  .container .web .web-c .web-r .excel {
    margin-top: 19px;
    width: 328px;
    height: 102px;
    border: 1px solid #d1d1d1;
  }
  .container .web .web-c .web-r .excel .excel-el {
    float: left;
  }
  .container .web .web-c .web-r .excel .excel-l {
    margin-top: -1px;
    width: 163px;
    height: 100%;
  }
  .container .web .web-c .web-r .excel .excel-l .excel-item {
    border-right: 1px solid #d1d1d1;
  }
  .container .web .web-c .web-r .excel .excel-l .excel-item:last-child {
    border-bottom: none;
  }
  .container .web .web-c .web-r .excel .excel-r {
    margin-top: -1px;
    width: 165px;
    height: 100%;
  }
  .container .web .web-c .web-r .excel .excel-r .excel-item:last-child {
    border-bottom: none;
  }
  .container .web .web-c .web-r .excel .excel-item {
    width: 100%;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    font-family: "FZLTXHK";
    color: #605b5b;
    border-bottom: 1px solid #d1d1d1;
  }
  .container .success {
    width: 100%;
    height: 842px;
  }
  .container .success .success-c {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  .container .success .success-c .success-header {
    position: relative;
    margin-top: 144px;
    width: 100%;
    height: 80px;
  }
  .container .success .success-c .success-header .success-title {
    float: left;
    width: 204px;
    height: 100%;
  }
  .container .success .success-c .success-header .success-title .succ-cn {
    font-size: 24px;
    font-family: "FZLTZHK";
    color: #494949;
    text-align: justifyLeft;
  }
  .container .success .success-c .success-header .success-title .succ-en {
    font-size: 14px;
    font-family: "FZLTXHK";
    color: #c3c3c3;
    text-align: justifyLeft;
  }
  .container .success .success-c .success-header .success-nav {
    position: absolute;
    right: 0;
    width: 356px;
    height: 100%;
  }
  .container .success .success-c .success-header .success-nav .success-nav-item {
    float: left;
    width: 73px;
    height: 31px;
  }
  .container .success .success-c .success-header .success-nav .success-nav-item a {
    display: block;
    width: 100%;
    height: 31px;
    line-height: 31px;
    font-size: 15px;
    text-align: center;
    font-family: "PingFangSC";
    color: #858585;
    text-align: justifyLeft;
  }
  .container .success .success-c .success-header .success-nav .success-nav-item.active a {
    display: block;
    width: 73px;
    height: 31px;
    background-color: #1073d8;
    font-size: 15px;
    font-family: "PingFangSC";
    color: white;
    text-align: justifyLeft;
  }
  .container .success .success-c .success-header .success-nav .success-nav-item:first-child {
    margin-left: 64px;
  }
  .container .success .success-c .success-header .success-nav .success-nav-item:hover a {
    display: block;
    width: 73px;
    height: 31px;
    background-color: #1073d8;
    font-size: 15px;
    font-family: "PingFangSC";
    color: white;
    text-align: justifyLeft;
  }
  .container .success .success-c .case {
    position: absolute;
    width: 1200px;
    height: 612px;
  }
  .container .success .success-c .case .case-detail {
    position: relative;
    float: left;
    width: 383px;
    height: 292px;
    margin-right: 22.5px;
    margin-bottom: 26px;
    text-align: center;
    border: 1px solid #eeeeee;
  }
  .container .success .success-c .case .case-detail .case-title {
    font-size: 16px;
    font-family: "PingFangSC";
    color: #555555;
    text-align: justifyLeft;
    font-weight: bolder;
  }
  .container .success .success-c .case .case-detail .industry {
    font-size: 14px;
    font-family: "PingFangSC";
    color: #b3b3b3;
    line-height: 1.714;
    text-align: center;
  }
  .container .success .success-c .case .case-detail:nth-child(3n) {
    width: 383px;
    margin-right: 0;
  }
  .container .success .success-c .case .succ-btn {
    position: absolute;
    top: 636px;
    left: 50%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 33px;
    height: 33px;
    line-height: 33px;
    font-size: 16px;
    color: #c6c6c6;
    font-weight: bolder;
    margin-right: 20px;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    -webkit-box-shadow: 0px -1px 5px 0.5px #eee,    -1px 0px 5px 0.5px #eee,    1px 0px 5px 0.5px #eee,    0px 1px 15px 0.5px #eee;
            box-shadow: 0px -1px 5px 0.5px #eee,    -1px 0px 5px 0.5px #eee,    1px 0px 5px 0.5px #eee,    0px 1px 15px 0.5px #eee;
  }
  .container .success .success-c .case .succ-btn.active {
    color: #fff;
    background-color: #1073d8;
    border: none;
    -webkit-box-shadow: 0px -1px 5px 0.5px #1073d8,    -1px 0px 5px 0.5px #1073d8,    1px 0px 5px 0.5px #1073d8,    0px 1px 15px 0.5px #1073d8;
            box-shadow: 0px -1px 5px 0.5px #1073d8,    -1px 0px 5px 0.5px #1073d8,    1px 0px 5px 0.5px #1073d8,    0px 1px 15px 0.5px #1073d8;
  }
  .container .success .success-c .case .succ-btn:hover {
    color: #fff;
    background-color: #1073d8;
    border: none;
    -webkit-box-shadow: 0px -1px 5px 0.5px #1073d8,    -1px 0px 5px 0.5px #1073d8,    1px 0px 5px 0.5px #1073d8,    0px 1px 15px 0.5px #1073d8;
            box-shadow: 0px -1px 5px 0.5px #1073d8,    -1px 0px 5px 0.5px #1073d8,    1px 0px 5px 0.5px #1073d8,    0px 1px 15px 0.5px #1073d8;
  }
  .container .success .success-c .case .succ-btn-l {
    margin-left: -60.5px;
  }
  .container .success .success-c .case .succ-btn-r {
    margin-left: 27.5px;
  }
  .container .about-us {
    width: 100%;
    height: 506px;
    background-color: #f9f9f8;
  }
  .container .about-us .about-us-c {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color: #f9f9f8;
  }
  .container .about-us .about-us-c .about-l {
    float: left;
    width: 534px;
    height: 100%;
  }
  .container .about-us .about-us-c .about-l .about-title {
    margin-top: 142px;
    font-size: 24px;
    font-family: "FZLTZHK";
    color: #494949;
    text-align: justifyLeft;
  }
  .container .about-us .about-us-c .about-l .about-title .about-en {
    font-size: 14px;
    font-family: "PingFangSC";
    color: #c3c3c3;
    text-align: justifyLeft;
  }
  .container .about-us .about-us-c .about-l .about-detail {
    margin-top: 35px;
    font-size: 15px;
    font-family: "FZLTXHK";
    color: #959595;
    line-height: 1.867;
    text-align: left;
  }
  .container .about-us .about-us-c .about-r {
    position: absolute;
    right: 0;
    top: 111px;
    width: 548px;
    height: 100%;
  }
  .container .about-us .about-us-c .about-r .dec {
    width: 509px;
    height: 276px;
    border: 1px solid #e2e2e2;
  }
  .container .about-us .about-us-c .about-r .bufan-img {
    position: absolute;
    left: 18px;
    top: 19px;
  }
}

@media (max-width: 768px) {
  .banner {
    padding-top: 22%;
  }
  .container {
    width: 100%;
  }
  .container .goodness {
    width: 100%;
  }
  .container .goodness .goodness-c {
    width: 90%;
    margin: 0 auto;
  }
  .container .goodness .goodness-c .good {
    width: 100%;
    margin-bottom: 10%;
    padding-bottom: 5%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  .container .goodness .goodness-c .good .goodness-item {
    float: left;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 47.5%;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 7px #eee;
            box-shadow: 0px 3px 7px #eee;
  }
  .container .goodness .goodness-c .good .goodness-item a {
    display: block;
    margin-top: 43px;
    width: 100%;
  }
  .container .goodness .goodness-c .good .goodness-item .good-title {
    padding-top: 50%;
    font-size: 16px;
    font-family: "FZLTZHK";
    color: #505050;
    font-weight: bolder;
  }
  .container .goodness .goodness-c .good .goodness-item .good-dec {
    font-size: 14px;
    font-family: "FZLTXHK";
    color: #6b6b6b;
    height: 24px;
    line-height: 24px;
  }
  .container .goodness .goodness-c .good .goodness-item:nth-child(2n) {
    margin-left: 5%;
  }
  .container .goodness .goodness-c .good .goodness-item_1 {
    background: url(../../img/icon_1.png) no-repeat center;
  }
  .container .goodness .goodness-c .good .goodness-item_2 {
    background: url(../../img/icon-2.png) no-repeat center;
  }
  .container .goodness .goodness-c .good .goodness-item_3 {
    background: url(../../img/icon-3.png) no-repeat center;
  }
  .container .goodness .goodness-c .good .goodness-item_4 {
    background: url(../../img/icon-4.png) no-repeat center;
  }
  .container .goodness .goodness-c .good .goodness-item_5 {
    background: url(../../img/icon-5.png) no-repeat center;
  }
  .container .goodness .goodness-c .good .goodness-item_6 {
    background: url(../../img/icon-6.png) no-repeat center;
  }
  .container .goodness .goodness-c .good .goodness-item_1:hover {
    background: url(../../img/icon_1.png) no-repeat center;
  }
  .container .goodness .goodness-c .good .goodness-item_2:hover {
    background: url(../../img/icon_2.png) no-repeat center;
  }
  .container .goodness .goodness-c .good .goodness-item_3:hover {
    background: url(../../img/icon_3.png) no-repeat center;
  }
  .container .goodness .goodness-c .good .goodness-item_4:hover {
    background: url(../../img/icon_4.png) no-repeat center;
  }
  .container .goodness .goodness-c .good .goodness-item_5:hover {
    background: url(../../img/icon_5.png) no-repeat center;
  }
  .container .goodness .goodness-c .good .goodness-item_6:hover {
    background: url(../../img/icon_6.png) no-repeat center;
  }
  .container .mobile {
    width: 100%;
    padding-bottom: 5%;
  }
  .container .mobile .mobile-c {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5%;
  }
  .container .mobile .mobile-c .mobile-el {
    float: left;
  }
  .container .mobile .mobile-c .mobile-l {
    width: 47.5%;
  }
  .container .mobile .mobile-c .mobile-l .mobile-title {
    font-size: 14px;
    font-family: "FZLTZHK";
    color: #363636;
    font-weight: bolder;
  }
  .container .mobile .mobile-c .mobile-l .mobile-detail {
    margin-top: 15px;
    font-size: 14px;
    font-family: "FZLTXHK";
    color: #6b6b6b;
    text-transform: uppercase;
  }
  .container .mobile .mobile-c .mobile-l .excel-title {
    margin-top: 10%;
    font-size: 16px;
    font-family: "FZLTZHK";
    color: #363636;
    font-weight: bolder;
  }
  .container .mobile .mobile-c .mobile-l .excel {
    margin-top: 14px;
    width: 200%;
    border: 1px solid #d1d1d1;
  }
  .container .mobile .mobile-c .mobile-l .excel .excel-el {
    float: left;
  }
  .container .mobile .mobile-c .mobile-l .excel .excel-l {
    margin-top: -1px;
    width: 50%;
  }
  .container .mobile .mobile-c .mobile-l .excel .excel-l .excel-item {
    border-right: 1px solid #d1d1d1;
  }
  .container .mobile .mobile-c .mobile-l .excel .excel-l .excel-item:last-child {
    border-bottom: none;
  }
  .container .mobile .mobile-c .mobile-l .excel .excel-r {
    margin-top: -1px;
    width: 50%;
  }
  .container .mobile .mobile-c .mobile-l .excel .excel-r .excel-item:last-child {
    border-bottom: none;
  }
  .container .mobile .mobile-c .mobile-l .excel .excel-item {
    width: 100%;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    font-family: "FZLTXHK";
    color: #6b6b6b;
    text-transform: uppercase;
    border-bottom: 1px solid #d1d1d1;
  }
  .container .mobile .mobile-c .mobile-r {
    position: relative;
    width: 47.5%;
    margin-left: 5%;
  }
  .container .mobile .mobile-c .mobile-r img {
    width: 75%;
  }
  .container .mobile .mobile-c .mobile-r .phone-map {
    position: absolute;
    left: 10%;
    top: 70%;
  }
  .container .mobile .mobile-c .mobile-r .phone-word {
    position: absolute;
    left: 10%;
    top: 40px;
  }
  .container .mobile .mobile-c .mobile-r .phone {
    position: absolute;
    left: 50%;
    top: 70%;
    width: 37.5%;
    margin-left: -20%;
    z-index: 999;
  }
  .container .mobile .mobile-c .mobile-r .weixin {
    position: absolute;
    left: 108px;
    top: 25px;
    width: 12%;
  }
  .container .web {
    width: 100%;
  }
  .container .web .web-c {
    width: 90%;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 10%;
    border-top: 1px solid #ddd;
  }
  .container .web .web-c .web-l {
    position: relative;
    width: 47.5%;
  }
  .container .web .web-c .web-l img {
    width: 75%;
  }
  .container .web .web-c .web-l .web-map {
    position: absolute;
    left: 10%;
    top: 70%;
  }
  .container .web .web-c .web-l .web-word {
    position: absolute;
    left: 10%;
    top: 40px;
  }
  .container .web .web-c .web-l .pc {
    position: absolute;
    left: 50%;
    top: 10px;
    width: 37.5%;
    margin-left: -20%;
  }
  .container .web .web-c .web-r .web-title {
    margin-left: 52.5%;
    font-size: 14px;
    font-family: "FZLTZHK";
    color: #363636;
    font-weight: bolder;
  }
  .container .web .web-c .web-r .web-detail {
    margin-left: 52.5%;
    margin-top: 12px;
    font-size: 14px;
    font-family: "FZLTXHK";
    color: #6b6b6b;
    text-transform: uppercase;
  }
  .container .web .web-c .web-r .excel-title {
    margin-top: 5%;
    font-size: 16px;
    font-family: "FZLTZHK";
    color: #363636;
    font-weight: bolder;
  }
  .container .web .web-c .web-r .excel {
    margin-top: 14px;
    width: 100%;
    border: 1px solid #d1d1d1;
  }
  .container .web .web-c .web-r .excel .excel-el {
    float: left;
  }
  .container .web .web-c .web-r .excel .excel-l {
    margin-top: -1px;
    width: 50%;
  }
  .container .web .web-c .web-r .excel .excel-l .excel-item {
    border-right: 1px solid #d1d1d1;
  }
  .container .web .web-c .web-r .excel .excel-l .excel-item:last-child {
    border-bottom: none;
  }
  .container .web .web-c .web-r .excel .excel-r {
    margin-top: -1px;
    width: 50%;
  }
  .container .web .web-c .web-r .excel .excel-r .excel-item:last-child {
    border-bottom: none;
  }
  .container .web .web-c .web-r .excel .excel-item {
    width: 100%;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    font-family: "FZLTXHK";
    color: #6b6b6b;
    text-transform: uppercase;
    border-bottom: 1px solid #d1d1d1;
  }
  .container .success {
    width: 100%;
  }
  .container .success .success-c {
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid #ddd;
  }
  .container .success .success-c .success-header {
    width: 100%;
  }
  .container .success .success-c .success-header .success-title {
    width: 100%;
    margin-top: 10%;
  }
  .container .success .success-c .success-header .success-title .succ-cn {
    font-size: 16px;
    font-family: "FZLTZHK";
    color: #363636;
    font-weight: bolder;
  }
  .container .success .success-c .success-header .success-title .succ-en {
    font-size: 12px;
    font-family: "FZLTXHK";
    color: #6b6b6b;
    text-transform: uppercase;
  }
  .container .success .success-c .success-header .success-nav {
    width: 100%;
  }
  .container .success .success-c .success-header .success-nav .success-nav-item {
    float: left;
    width: 20%;
    height: 20%;
    margin: 5% 2.5% 5% 2.5%;
  }
  .container .success .success-c .success-header .success-nav .success-nav-item a {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    font-family: "PingFangSC";
    color: #858585;
    text-align: justifyLeft;
  }
  .container .success .success-c .success-header .success-nav .success-nav-item.active a {
    display: block;
    background-color: #1073d8;
    font-size: 12px;
    font-family: "PingFangSC";
    color: white;
    text-align: justifyLeft;
  }
  .container .success .success-c .success-header .success-nav .success-nav-item:hover a {
    background-color: #1073d8;
    font-size: 12px;
    font-family: "PingFangSC";
    color: white;
    text-align: justifyLeft;
  }
  .container .success .success-c .case {
    position: relative;
    width: 100%;
    margin-bottom: 23%;
    text-align: center;
  }
  .container .success .success-c .case .case-detail {
    width: 100%;
    margin-bottom: 6%;
    border: 1px solid #ddd;
    border-top: none;
  }
  .container .success .success-c .case .case-detail a {
    display: block;
    width: 100%;
  }
  .container .success .success-c .case .case-detail a img {
    width: 100%;
  }
  .container .success .success-c .case .case-detail .case-title {
    font-size: 16px;
    font-family: "FZLTZHK";
    color: #363636;
    font-weight: bolder;
  }
  .container .success .success-c .case .case-detail .industry {
    margin-bottom: 2%;
    font-size: 14px;
    font-family: "FZLTXHK";
    color: #6b6b6b;
    text-transform: uppercase;
  }
  .container .success .success-c .case .succ-btn {
    position: absolute;
    top: 101%;
    left: 50%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 33px;
    height: 33px;
    line-height: 33px;
    font-size: 16px;
    color: #c6c6c6;
    font-weight: bolder;
    margin-right: 20px;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    -webkit-box-shadow: 0px -1px 5px 0.5px #eee,    -1px 0px 5px 0.5px #eee,    1px 0px 5px 0.5px #eee,    0px 1px 15px 0.5px #eee;
            box-shadow: 0px -1px 5px 0.5px #eee,    -1px 0px 5px 0.5px #eee,    1px 0px 5px 0.5px #eee,    0px 1px 15px 0.5px #eee;
  }
  .container .success .success-c .case .succ-btn.active {
    color: #fff;
    background-color: #1073d8;
    border: none;
    -webkit-box-shadow: 0px -1px 5px 0.5px #1073d8,    -1px 0px 5px 0.5px #1073d8,    1px 0px 5px 0.5px #1073d8,    0px 1px 15px 0.5px #1073d8;
            box-shadow: 0px -1px 5px 0.5px #1073d8,    -1px 0px 5px 0.5px #1073d8,    1px 0px 5px 0.5px #1073d8,    0px 1px 15px 0.5px #1073d8;
  }
  .container .success .success-c .case .succ-btn-l {
    margin-left: -60.5px;
  }
  .container .success .success-c .case .succ-btn-r {
    margin-left: 27.5px;
  }
  .container .about-us {
    width: 100%;
    margin-bottom: -4px;
  }
  .container .about-us .about-us-c {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding-top: 5%;
    border-top: 1px solid #ddd;
  }
  .container .about-us .about-us-c .about-l {
    width: 100%;
  }
  .container .about-us .about-us-c .about-l .about-title {
    width: 100%;
  }
  .container .about-us .about-us-c .about-l .about-title .about-cn {
    font-size: 16px;
    font-family: "FZLTZHK";
    color: #363636;
    font-weight: bolder;
  }
  .container .about-us .about-us-c .about-l .about-title .about-en {
    margin-bottom: 5%;
    font-size: 14px;
    font-family: "FZLTXHK";
    color: #6b6b6b;
    text-transform: uppercase;
  }
  .container .about-us .about-us-c .about-l .about-detail {
    padding-top: 50%;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: "FZLTXHK";
    color: #6b6b6b;
    text-transform: uppercase;
  }
  .container .about-us .about-us-c .about-l .about-detail p {
    margin-top: 7px;
    text-indent: 28px;
  }
  .container .about-us .about-us-c .about-r {
    position: absolute;
    top: 35px;
    width: 100%;
    margin-top: 5%;
  }
  .container .about-us .about-us-c .about-r .bufan-img {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .footer {
    width: 100%;
    height: 386px;
  }
  .footer .footer-about-us {
    width: 100%;
    height: 328px;
    background-color: #323943;
  }
  .footer .footer-about-us .footer-about-us-c {
    position: relative;
    width: 1200px;
    height: 100%;
    background-color: #323943;
    margin: 0 auto;
  }
  .footer .footer-about-us .footer-about-us-c .contact-us {
    position: absolute;
    left: 0;
    top: 64px;
  }
  .footer .footer-about-us .footer-about-us-c .contact-us span:first-child {
    font-size: 24px;
    font-family: "FZLTZHK";
    color: #f3f3f3;
    text-align: justifyLeft;
  }
  .footer .footer-about-us .footer-about-us-c .contact-us span:last-child {
    font-size: 14px;
    font-family: "PingFangSC";
    color: #c2c2c2;
    text-align: justifyLeft;
  }
  .footer .footer-about-us .footer-about-us-c .about {
    position: absolute;
    top: 162px;
    font-size: 16px;
    font-family: "FZLTXHK";
    color: #c2c2c2;
  }
  .footer .footer-about-us .footer-about-us-c .about .about-item {
    float: left;
  }
  .footer .footer-about-us .footer-about-us-c .about .about-item p {
    height: 28px;
    line-height: 28px;
  }
  .footer .footer-about-us .footer-about-us-c .about .about_1 {
    width: 160px;
  }
  .footer .footer-about-us .footer-about-us-c .about .about_2 {
    width: 271px;
    margin-left: 220px;
  }
  .footer .footer-about-us .footer-about-us-c .about .about_3 {
    margin-left: 85px;
    width: 448px;
    text-align: left;
  }
  .footer .admission {
    width: 100%;
    height: 58px;
    background-color: #272e36;
  }
  .footer .admission .admission-c {
    width: 1200px;
    height: 100%;
    background-color: #272e36;
    margin: 0 auto;
  }
  .footer .admission .admission-c .admission-dec {
    height: 100%;
    line-height: 58px;
    font-size: 14px;
    font-family: "PingFangSC";
    color: #959595;
  }
}

@media (max-width: 768px) {
  .footer {
    width: 100%;
    background-color: #323943;
  }
  .footer .footer-about-us {
    width: 100%;
    padding-bottom: 50px;
    border-bottom: 1px solid #646565;
  }
  .footer .footer-about-us .footer-about-us-c {
    width: 90%;
    margin: 0 auto;
  }
  .footer .footer-about-us .footer-about-us-c .contact-us {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .footer .footer-about-us .footer-about-us-c .contact-us span:first-child {
    display: block;
    font-size: 24px;
    font-family: "FZLTZHK";
    color: #f3f3f3;
    text-align: justifyLeft;
    padding-top: 10%;
  }
  .footer .footer-about-us .footer-about-us-c .contact-us span:last-child {
    display: block;
    font-size: 16px;
    font-family: "PingFangSC";
    color: #c2c2c2;
    text-align: justifyLeft;
  }
  .footer .footer-about-us .footer-about-us-c .about {
    width: 100%;
  }
  .footer .footer-about-us .footer-about-us-c .about .about-item {
    width: 100%;
    height: 80px;
    text-align: justifyLeft;
    font-size: 14px;
    font-family: "FZLTXHK";
    color: #fff;
  }
  .footer .footer-about-us .footer-about-us-c .about .about-item .logo-png {
    display: none;
  }
  .footer .footer-about-us .footer-about-us-c .about .about-item p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .footer .footer-about-us .footer-about-us-c .about .about-item:first-child {
    height: 30px;
    padding-top: 20px;
  }
  .footer .admission {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #272e36;
  }
  .footer .admission .admission-c {
    width: 90%;
    margin: 0 auto;
  }
  .footer .admission .admission-c .admission-dec {
    font-size: 16px;
    font-family: "PingFangSC";
    color: #959595;
    text-align: center;
  }
  .footer .admission .admission-c .admission-dec span {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */